[Unit]
Description=Connect or disconnect LTE module to/from the cellular network

[Service]
EnvironmentFile=/etc/systemd/system/lte_env

Type=exec
RemainAfterExit=Yes
WorkingDirectory=/usr/local/bin
ExecStart=lte_manage.sh enable
ExecStop=lte_manage.sh disable

[Install]
WantedBy=multi-user.target
