[Unit]
Description=Connect or disconnect LTE module to/from the cellular network

[Service]
#Environment="LTE_IF=wwan0"
EnvironmentFile=/etc/systemd/system/lte_env
Environment="LTE_DEV=/dev/cdc-wdm0"
Environment="LTE_APN=internet.saunalahti"

Type=exec
RemainAfterExit=Yes
WorkingDirectory=/usr/local/bin
ExecStart=lte_manage.sh enable
ExecStop=lte_manage.sh disable

[Install]
WantedBy=multi-user.target
